:root {
    --bg-position: center; /* Variable para la posición de la imagen de fondo */
}

#intro {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url(https://raw.githubusercontent.com/Grouvex/grouvex.github.io/refs/heads/main/port/La%20Magia%20de%20la%20Estrella%20Polar.jpg);
    background-size: cover;
    background-position: var(--bg-position); /* Usa la variable para la posición */
    background-repeat: no-repeat;
}

#logo {
    width: 150px;
    height: auto;
    animation: slideUp 3s forwards, fadeOut 2s 3s forwards;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 1;
        transform: translateY(-50px);
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
