/* styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
}

#auth-container, #form-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2, h3 {
    color: #333;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"], input[type="date"], input[type="number"], input[type="time"], select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

button {
    padding: 10px 15px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

button[type="button"] {
    margin-right: 10px;
}

.section {
    margin-bottom: 20px;
}

#seccion1 {
            display: block; /* Inicialmente oculta la sección 2 */
        }
#seccion2 {
            display: none; /* Inicialmente oculta la sección 2 */
        }

#section-menu {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

#section-menu button {
    margin-bottom: 10px;
}

#album-details, #image-details, #audio-details, #stores-details, #localization-details {
    display: none;
}

.artist, .writer, .lyricist {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.artist select, .artist input, .writer input, .lyricist input {
    flex: 1;
    margin-right: 10px;
}

.artist button, .writer button, .lyricist button {
    flex-shrink: 0;
}
