#notification {
    text-align: center;
    background-color: red;
    color: white;
    width: 100%;
}
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #818181;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .titleHead {
    margin-left: 17%;
  }
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
  }

  .menuT{
      margin-left: 10%;
  }
  .red1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 1%;
    margin-left: 0%;
    position: absolute;
  }
  .red2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 1%;
    margin-left: 8%;
    position: absolute;
  }
  .red3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 1%;
    margin-left: 16%;
    position: absolute;
  }
  .red4 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 1%;
    margin-left: -8%;
    position: absolute;
  }
  .red5 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 1%;
    margin-left: -16%;
    position: absolute;
  }
  .red6 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 1%;
    margin-left: 24%;
    position: absolute;
  }
  .titulo {
    text-decoration: none;
    text-decoration-line: none;
    text-align: center;
    color: rgb(70, 224, 224);
  }
.texto {
text-decoration: none;
text-decoration-line: none;
text-align: left;
}

header {
    background-color: #000000;
    color: rgb(226, 42, 42);
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    text-align: center;
}
news {
    flex: 0;
    width: 100%;
    margin: 2px;
}

.Atencion {
    color: white;
    text-align: center;
    background-color: blue;
} 
  n {
    font-weight: bold;
  }
  ig {
    color: fuchsia;
  }
  yt {
    color: red;
  }
  tt {
    color: aqua;
  }
  ds {
    color: blue;
  }
  sp {
    color: green;
  }
#selector-idioma {
    background-color: white; /* Fondo blanco */
    color: black; /* Texto en color negro para contraste */
    /* Añade más estilos según necesites */
  }
#themeSelect {
    background-color: white; /* Fondo blanco */
    color: black; /* Texto en color negro para contraste */
    /* Añade más estilos según necesites */
  }
/* Diseño de la Web */
* {
    background-color: #222;
    background-repeat: no-repeat;
    background-size: auto;
  }
/*Default Theme*/
p {
  color: rgb(255, 255, 255);
  text-shadow: white;
  display: block;
}
/* Establece el fondo de toda la página a gris */
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif; /* Tipo de letra */
    margin: 0;
    padding: 0;    
}

/* Estilo para el contenido principal */
main {
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    flex: 0;
    margin: 10px;
    background-color: #000000;
}
h1,h2,h3,h4,h5,h6,h7,h8 {
   box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
  text-align: center;
  background-color: #000000;
  color: rgb(255, 255, 255);
}
mainTop {
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
    flex: 0;
    margin: 2px;
    padding: 25px;
    background: #000000;
}
.avatar1 {
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.75);
    width: 220px;
    border-radius: 0%;
    margin-top: -0.7%;
    margin-left: 4%;
    position: absolute;
    background: #000000;
}
/* Estilo para los artículos, secciones y barras laterales */
article {
    border: 1px solid #ddd; /* Borde gris */
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1); /* Sombra suave */
    background-color: rgb(255, 0, 0);
}
section {
    border: 1px solid #ddd; /* Borde gris */
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(51, 255, 0, 0.1); /* Sombra suave */
    background-color: rgb(255, 255, 255);
}
aside {
    border: 1px solid #ddd; /* Borde gris */
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra suave */
    background-color: rgb(255, 255, 255);
}
/*Theme 1*/
p.theme1 {
  color: rgb(255, 255, 255);
  text-shadow: white;
  display: block;
}
/* Establece el fondo de toda la página a gris */
body.theme1 {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif; /* Tipo de letra */
    margin: 0;
    padding: 0;
}
/* Estilo para el contenido principal */
main.theme1 {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    flex: 0;
    color: white;
    margin: 10px;
    background: radial-gradient(circle, red, rgb(99, 99, 168), black);
}
h1.theme1,h2.theme1,h3.theme1,h4.theme1,h5.theme1,h6.theme1,h7.theme1,h8.theme1 {
  background: linear-gradient(to bottom, green, rgb(99, 99, 168), black);
  text-align: center;
  color: white;
}
mainTop.theme1 {
    flex: 0;
    margin: 2px;
    padding: 25px;
    background: linear-gradient(45deg, red, white, blue);
}
.avatar1.theme1 {
    width: 220px;
    border-radius: 0%;
    margin-top: -0.7%;
    margin-left: 4%;
    position: absolute;
    background: linear-gradient(red, white, cyan);
}
/* Estilo para los artículos, secciones y barras laterales */
article.theme1 {
    background: linear-gradient(to bottom, pink, rgb(99, 99, 168), black);
    border: 1px solid #ddd; /* Borde gris */
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra suave */
}
section.theme1 {
    background: linear-gradient(to bottom, yellow, rgb(99, 99, 168), black);
    border: 1px solid #ddd; /* Borde gris */
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra suave */
}
aside.theme1 {
    background: radial-gradient(circle, rgb(200, 71, 226), rgb(99, 99, 168), black);
    border: 1px solid #ddd; /* Borde gris */
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra suave */
}
/*Theme 2*/
p.theme2 {
  color: rgb(255, 255, 255);
  text-shadow: white;
  display: block;
}
/* Establece el fondo de toda la página a gris */
body.theme2 {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif; /* Tipo de letra */
    margin: 0;
    padding: 0;
    background-color: aqua;
}
/* Estilo para el contenido principal */
main.theme2 {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    flex: 0;
    color: white;
    margin: 10px;
    background: radial-gradient(circle, pink, rgb(99, 99, 168), black);
}
h1.theme2,h2.theme2,h3.theme2,h4.theme2,h5.theme2,h6.theme2,h7.theme2,h8.theme2 {
  background: linear-gradient(to bottom, cyan, rgb(99, 99, 168), black);
  text-align: center;
  color: white;
}
mainTop.theme2 {
    flex: 0;
    margin: 2px;
    padding: 25px;
    background: linear-gradient(45deg, green, yellow, blue, red, pink, cyan);
}
.avatar1.theme2 {
    width: 220px;
    border-radius: 0%;
    margin-top: -0.7%;
    margin-left: 4%;
    position: absolute;
    background: linear-gradient(red, white, cyan);
}
/* Estilo para los artículos, secciones y barras laterales */
article.theme2 {
    background: linear-gradient(to bottom, pink, rgb(99, 99, 168), black);
    border: 1px solid #ddd; /* Borde gris */
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra suave */
}
section.theme2 {
    background: linear-gradient(to bottom, yellow, rgb(99, 99, 168), black);
    border: 1px solid #ddd; /* Borde gris */
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra suave */
}
aside.theme2 {
    background: radial-gradient(circle, rgb(200, 71, 226), rgb(99, 99, 168), black);
    border: 1px solid #ddd; /* Borde gris */
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra suave */
}
/*Theme 3 Space*/
p.theme3 {
  color: rgb(255, 255, 255);
  text-shadow: white;
  display: block;
}
/* Establece el fondo de toda la página a gris */
body.theme3 {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif; /* Tipo de letra */
    margin: 0;
    padding: 0;
    background-image: url(https://th.bing.com/th/id/R.2233dd9dbbdc72fd46d1ae218bae965d?rik=mlwKyBXXRrJU6A&pid=ImgRaw&r=0);
    background-size: cover;
    background-repeat: no-repeat;
}
/* Estilo para el contenido principal */
main.theme3 {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    flex: 0;
    color: white;
    margin: 10px;
    background-image: url(https://th.bing.com/th/id/OIP.NdcwLYq7n6iTiiu1IUHLFAHaEv?rs=1&pid=ImgDetMain);
    background-size: cover;
    background-repeat: no-repeat;
}
h1.theme3,h2.theme3,h3.theme3,h4.theme3,h5.theme3,h6.theme3,h7.theme3,h8.theme3 {
  text-align: center;
  color: white;
  background-image: url(https://th.bing.com/th/id/R.bbc58b224e5d27d5648d8ae74e01bc2a?rik=MtYc%2bepoyXyjrw&pid=ImgRaw&r=0);
  background-size: cover;
  background-repeat: no-repeat;
}
mainTop.theme3 {
    flex: 0;
    margin: 2px;
    padding: 25px;
    background-image: url(https://live.staticflickr.com/7060/6971643495_05dc317572_b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.avatar1.theme3 {
    width: 220px;
    border-radius: 0%;
    margin-top: -0.7%;
    margin-left: 4%;
    position: absolute;
    background-image: url(https://live.staticflickr.com/7060/6971643495_05dc317572_b.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* Estilo para los artículos, secciones y barras laterales */
article.theme3 {
    border: 1px solid #ddd; /* Borde gris */
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra suave */
    background-image: url(https://th.bing.com/th/id/OIP.kBY4LxAeo1gzY_un8PIWJAHaEb?rs=1&pid=ImgDetMain);
    background-size: cover;
    background-repeat: no-repeat;
}
section.theme3 {
    border: 1px solid #ddd; /* Borde gris */
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra suave */
    background-image: url(https://th.bing.com/th/id/OIP.XhSnvyZ7S0hRkD_erqTc0QHaEo?rs=1&pid=ImgDetMain);
    background-size: cover;
    background-repeat: no-repeat;
}
aside.theme3 {
    border: 1px solid #ddd; /* Borde gris */
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra suave */
    background-image: url(https://i.pinimg.com/originals/a5/d0/67/a5d0672466ca12f67241a1dc99171b75.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
/* Estilo para el pie de página */
footer {
    width: 100%;
    text-align: center;
}
.footer-imagenes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30px, 1fr)); /* Columnas de mínimo 30px y máximo 1fr */
  justify-content: center; /* Centra los elementos en el eje horizontal */
  align-items: start; /* Alinea los elementos al inicio en el eje vertical */
  gap: 10px; /* Espacio de 10px entre elementos */
}

.footer-imagenes img {
  width: auto; /* Ancho automático para mantener la proporción */
  height: auto; /* Altura automática para mantener la proporción */
  max-width: 30px; /* Máximo ancho de 30px */
  max-height: 30px; /* Máximo altura de 30px */
  margin: 5px; /* Margen de 5px para asegurar la separación */
}


/* Estilo para las direcciones y texto pequeño */
address, small {
    display: block;
}
/* Estilo para el encabezado */
header {
    margin-top: 20px;
    width: 100%;
    background-color: #333; /* Gris oscuro */
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Estilo para la navegación */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

.carousel {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-padding: 50%;
}

.carousel > div {
    flex: 0 0 auto;
    width: 100%;
    height: 600px;
    scroll-snap-align: center;
}

.post-title {
    font-size: 20px;
    font-weight: bold;
}

.post-description {
    font-size: 16px;
    color: white;
}
/* Estilos para el acordeón */
.accordion {
    background-color: #000000;
    color: #1e997a;
    cursor: pointer;
    padding: 10px;
    margin: 5px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
}

.active, .accordion:hover {
    background-color: #00ff6a;
}

.panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
}

/*Etiquetas*/
.status {
  display: inline-block;
  padding: 2px 10px;
  margin-left: 10px;
  border-radius: 50px; /* Esto hace que la etiqueta sea ovalada */
  color: white;
  font-size: 0.5em;

}

.new {
  background-color: green;
  animation: rotate 2s infinite linear; /* Esto hace que la etiqueta "Nuevo" tenga un efecto de rotación */
}
.maintenance {
  background-color: orange;
}
.updating {
  background-color: blue;
}
.featured {
  background-color: purple;
  box-shadow: 0 0 10px rgb(255, 255, 255); /* Esto hace que la etiqueta "Destacado" destaque */
}
.popular {
  background-image: url('https://usagif.com/wp-content/uploads/gif/outerspace-76.gif'); /* Asegúrate de reemplazar esto con la ruta a tu imagen de estrellas */
  background-size: cover;
  box-shadow: 0 0 10px rgb(230, 6, 6);
  
}
.upcoming {
  background-color: yellow;
  color: black;
}
.exclusive {
  background-color: purple;
  box-shadow: 0 0 10px rgb(0, 0, 0); /* Esto hace que la etiqueta "Exclusivo" destaque */
  animation: pulse 2s infinite; /* Esto hace que la etiqueta "Exclusivo" tenga un efecto de pulso */
}
.recommended {
  background-color: rgb(15, 122, 122);
}
@keyframes pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1); }
}
.classic {
  box-shadow: 0 0 10px grey;
  background-color: grey;
  animation: pulse 1.5s infinite;
}
.on-sale {
  background-color: red;
}
.limited-edition {
  background-color: gold;
  color: black; /* As the background is light, we use black for the text */
  box-shadow: 0 0 10px gold; /* Esto hace que la etiqueta "Edición limitada" destaque */
}
