* {
    background-color: #222;
    background-repeat: no-repeat;
    background-size: auto;
  }
  
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #818181;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .titleHead {
    margin-left: 17%;
  }
  .avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
  }
.avatar1 {
    width: 220px;
    border-radius: 0%;
    margin-top: -0.7%;
    margin-left: 4%;
    position: absolute;
}
  .menuT{
      margin-left: 10%;
  }
  .red1 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 1%;
    margin-left: 0%;
    position: absolute;
  }
  .red2 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 1%;
    margin-left: 8%;
    position: absolute;
  }
  .red3 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 1%;
    margin-left: 16%;
    position: absolute;
  }
  .red4 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 1%;
    margin-left: -8%;
    position: absolute;
  }
  .red5 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 1%;
    margin-left: -16%;
    position: absolute;
  }
  .red6 {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 1%;
    margin-left: 24%;
    position: absolute;
  }
  .titulo {
    text-decoration: none;
    text-decoration-line: none;
    text-align: center;
    color: rgb(70, 224, 224);
  }
.texto {
text-decoration: none;
text-decoration-line: none;
text-align: left;
}

a {
    color: white;
}

header {
    background-color: #000000;
    color: rgb(226, 42, 42);
    margin-top: 20px;
    padding: 10px;
    width: 100%;
    text-align: center;
}
news {
    flex: 0;
    width: 100%;
    margin: 2px;
}
mainTop {
    flex: 0;
    width: 100%;
    margin: 2px;
    padding: 25px;
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.Atencion {
    color: white;
    text-align: center;
    background-color: blue;
} 
#notification {
    text-align: center;
    background-color: red;
    color: white;
    width: 100%;
}
  n {
    font-weight: bold;
  }
  ig {
    color: fuchsia;
  }
  yt {
    color: red;
  }
  tt {
    color: aqua;
  }
  ds {
    color: blue;
  }
  sp {
    color: green;
  }
#selector-idioma {
    background-color: white; /* Fondo blanco */
    color: black; /* Texto en color negro para contraste */
    /* Añade más estilos según necesites */
  }

/* Diseño de la Web */


/* Establece el fondo de toda la página a gris */
body {
    display: flex;
    flex-direction: column;
    background-color: #f0f0f0; /* Gris claro */
    font-family: Arial, sans-serif; /* Tipo de letra */
    margin: 0;
    padding: 0;
}

/* Estilo para el encabezado */
header {
    margin-top: 20px;
    width: 100%;
    background-color: #333; /* Gris oscuro */
    color: white;
    padding: 10px 0;
    text-align: center;
}

/* Estilo para la navegación */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

/* Estilo para el contenido principal */
main {
    background-color: white;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px;
    flex: 0;
    width: 100%;
    margin: 35px;
}

/* Estilo para los artículos, secciones y barras laterales */
article, section, aside {
    background-color: white;
    border: 1px solid #ddd; /* Borde gris */
    margin: 10px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1); /* Sombra suave */
}

/* Estilo para el pie de página */
footer {
    width: 100%;
    text-align: center;
}

/* Estilo para las direcciones y texto pequeño */
address, small {
    display: block;
}
